<!DOCTYPE html>
<html>
<head>
  <title>canal</title>
  <script>
    var initWebSocket = function() {
      socket = new WebSocket("ws://127.0.0.1:8080/chat/");
      socket.onmessage = function(e) {
          alert(e.data);
      }
      socket.onopen = function() {
          socket.send("hello world");
      }
    }

    var sendMessage = function() {
      // getting variable initiated in another function :(
      socket.send("hello Python");
    }
  </script>
</head>
<body>
  <button onclick="initWebSocket();">Connect</button>
  <button onclick="sendMessage();">Say hello</button>
</body>
</html>
